{
  "extends": ["airbnb", "airbnb-flow"],

  "env": {
    "browser": true,
    "node": true
  },

  "rules": {
    "react/no-find-dom-node": 1,
    "react/no-string-refs": 1,
    "react/jsx-filename-extension": 0,
    "object-curly-spacing": 0,
    "newline-after-import": 0,
    "import/import-first": 0,
    "newline-after-import": 0,
  }
}
