@require '../../../coursera/variables'
@require '../../../coursera/form'


.rc-TextInput
  position relative

  .extended-info-container
    position absolute
    width 100%
    padding-right 16px
    min-height 32px
